/*Mobile First*/
.n-grid div{
    max-width: 512px;
    max-height: 300px;
}
.n-grid div img {
    width: 100%;
}
.n-grid {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    grid-row-gap: 16px;
    margin-bottom: 16px;
}
.c-grid div{
    max-width: 300px;
    max-height: 300px;
}
.c-grid div img {
    width: 100%;
}
.c-grid {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    grid-row-gap: 16px;
    margin-bottom: 16px;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .n-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 16px;
        margin-bottom: 16px;
    }


    .c-grid {
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: 0;

        grid-column-gap: 16px;
    }

    .c-grid div img {
        width: 75%;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}